# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
lib/
bin/
pyvenv.cfg

# Data
data/
*.csv

# Models
models/
*.pkl
*.pt
*.bin
*.onnx
*.safetensors

# HuggingFace cache
.cache/
hf_cache/
~/.cache/huggingface/

# Environment variables
.env

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/
