__pycache__/
*.pyc
.venv/
venv/
env/
.git
.gitignore
Dockerfile
models/distilbert/
data/
.DS_Store
.cfg

# Models
models/
*.pkl
*.pt
*.bin
*.onnx

# Allow source code models
!src/models/
!src/models/**