version: "3.9"

services:
  api:
    build: .
    container_name: customer_insights_api
    command: uvicorn src.api.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"

  web:
    build: .
    container_name: customer_insights_web
    command: streamlit run src/webapp/app.py --server.port=8501 --server.address=0.0.0.0
    ports:
      - "8501:8501"
    depends_on:
      - api
    environment:
      - API_URL=http://api:8000/predict/sentiment
