fastapi 
uvicorn[standard] 
transformers>=4.30 
datasets 
torch 
sentence-transformers 
scikit-learn 
xgboost 
pandas 
numpy 
mlflow 
dvc 
python-dotenv 
streamlit 
pydantic 
onnxruntime 
joblib 
requests
    